<script lang="ts">
	import DocsMeta from '$lib/components/DocsMeta.svelte';
</script>

<DocsMeta
	title="Contacting Support"
	description="Contact Fyra Stack support for any questions or issues with your account billing."
/>

# Contacting Support

Thanks for using Fyra Stack!

Currently, you can contact support by emailing [support@fyrastack.com](mailto:support@fyrastack.com).
