<svelte:head>
<title>VPS Hardening | Fyra Stack Docs</title>
<meta name="description" content="Hardening your VPS for improved security and performance." />
<link rel="canonical" href="https://fyrastack.com/docs/vps/hardening" />
<meta property="og:title" content="VPS Hardening | Fyra Stack Docs" />
<meta property="og:description" content="Hardening your VPS for improved security and performance." />
<meta property="og:image" content="https://fyrastack.com/logo.png" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://fyrastack.com/docs/vps/hardening" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="VPS Hardening | Fyra Stack Docs" />
<meta name="twitter:description" content="Hardening your VPS for improved security and performance." />
<meta name="twitter:image" content="https://fyrastack.com/logo.png" />
</svelte:head>
