<script lang="ts">
	import DocsMeta from '$lib/components/DocsMeta.svelte';
</script>

<DocsMeta title="How We Bill" description="Learn about our billing process." />

# How We Bill

For billing, we use a hybrid hourly/monthly system. Think of it like fare capping for transit systems. Each VPS tier has an hourly and monthly rate. For each VPS, you are charged for the hourly rate until you reach the monthly rate. At that point, you will be capped at the monthly rate.

---
## Why we use this system

Provisioning a VPS has a cost associated with it. We use a hybrid system to account for that cost while maintaining a low rate for people who set up one VPS and stick with it. If someone is going to spin up a new VPS for a short period of time, especially once we have an API available, our costs are higher, so we wanted a model that charges fairly for both short- and long-term VPS usage.

---
## Hourly and Monthly Rates for Each Tier

|Tier     |vCPU |Memory |Hourly Rate |Monthly Rate
|---      |---  |---    |---         |---
|BASE-2G  |2    |2G     |$0.01/hr    |$5.00/mo
|BASE-4G  |2    |4G     |$0.03/hr    |$12.00/mo
|BASE-6G  |3    |6G     |$0.04/hr    |$18.00/mo
|BASE-8G  |4    |8G     |$0.05/hr    |$24.00/mo
|BASE-10G |5    |10G    |$0.06/hr    |$30.00/mo
|BASE-12G |6    |12G    |$0.07/hr    |$36.00/mo
|BASE-14G |7    |14G    |$0.08/hr    |$42.00/mo
|BASE-16G |8    |16G    |$0.10/hr    |$48.00/mo
